<ion-header [translucent]="true">
  <ion-toolbar color="pounce">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Outlets</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-content
            class="ion-no-padding ion-padding-top ion-padding-bottom"
          >
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-toggle checked="true"></ion-toggle>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-button slot="start" size="medium">
                  <fa-icon
                    [icon]="['fas', 'plug']"
                    [fixedWidth]="true"
                    size="2x"
                    slot="start"
                  ></fa-icon>
                </ion-button>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>East Wall</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content
            class="ion-no-padding ion-padding-top ion-padding-bottom"
          >
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-toggle checked="true"></ion-toggle>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-button slot="start" size="medium">
                  <fa-icon
                    [icon]="['fas', 'plug']"
                    [fixedWidth]="true"
                    size="2x"
                    slot="start"
                  ></fa-icon>
                </ion-button>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>Countertop</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content
            class="ion-no-padding ion-padding-top ion-padding-bottom"
          >
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-toggle checked="true"></ion-toggle>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-button slot="start" size="medium">
                  <fa-icon
                    [icon]="['fas', 'plug']"
                    [fixedWidth]="true"
                    size="2x"
                    slot="start"
                  ></fa-icon>
                </ion-button>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>North Wall</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content
            class="ion-no-padding ion-padding-top ion-padding-bottom"
          >
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-toggle checked="true"></ion-toggle>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-button slot="start" size="medium">
                  <fa-icon
                    [icon]="['fas', 'plug']"
                    [fixedWidth]="true"
                    size="2x"
                    slot="start"
                  ></fa-icon>
                </ion-button>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>Computer Monitor</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content
            class="ion-no-padding ion-padding-top ion-padding-bottom"
          >
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-toggle checked="false"></ion-toggle>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>
                <ion-button slot="start" size="medium">
                  <fa-icon
                    [icon]="['fas', 'plug']"
                    [fixedWidth]="true"
                    size="2x"
                    slot="start"
                  ></fa-icon>
                </ion-button>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-text-center">
              <ion-label>Coffee Maker</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <strong>Click on icons for detailed settings.</strong>
    </ion-item>
    <img slot="end" src="../../assets/icon/grey-logo.png" height="55px" />
  </ion-toolbar>
</ion-footer>
