<ion-header [translucent]="true">
  <ion-toolbar color="pounce">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Device #{{ deviceId }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showUserMenu($event)">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-col>
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-range
            min="0"
            max="100"
            step="1"
            value="{{ temperature }}"
            color="primary"
            pin="true"
          >
            <ion-icon
              slot="start"
              size="small"
              color="primary"
              name="thermometer"
            ></ion-icon>
            <ion-icon slot="end" color="primary" name="thermometer"></ion-icon>
          </ion-range>
          <fa-stack [fixedWidth]="true"> </fa-stack>
          <ion-text color="primary" class="ion-nowrap">
            <strong>Current device temperature: {{ temperature }}F</strong>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content
          style="display: flex"
          class="ion-flex ion-justify-content-center ion-align-items-center"
        >
          <fa-stack [fixedWidth]="true"></fa-stack>
          <ion-text color="primary" class="ion-nowrap">
            <strong>Contactor Status: {{ contactorStatus }}</strong>
          </ion-text>
          <ion-toggle [checked]="contactorStatus" disabled></ion-toggle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <img slot="end" src="../../assets/icon/grey-logo.png" height="55px" />
  </ion-toolbar>
</ion-footer>
