<ion-header [translucent]="true">
  <ion-toolbar color="pounce">
    <ion-title> Ithaca Children's Center </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showUserMenu($event)">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let location of locations | keyvalue"
        class="ion-align-self-stretch"
      >
        <ion-card
          routerDirection="forward"
          routerLink="{{ location.value.id }}/data"
          [state]="{ data: { locationName: location.key, devices: location.value.devices, locationId: location.value.id } }"
        >
          <fa-icon
            *ngIf="location.hasAlert"
            [icon]="['fas', 'exclamation-triangle']"
            style="float: right"
            transform="left-2 down-5"
            primaryOpacity="0.9"
            [styles]="{'stroke': 'red', 'color': 'red'}"
          ></fa-icon>
          <ion-card-content>
            <ion-text color="primary" class="ion-nowrap">
              <strong>{{ location.key }}</strong>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <img slot="end" src="../../assets/icon/grey-logo.png" height="55px" />
  </ion-toolbar>
</ion-footer>
