<ion-header [translucent]="true">
  <ion-toolbar color="pounce">
    <ion-title>Ithaca Children's Center</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-title class="ion-margin-top">
      <ion-icon class="ion-margin-end" name="settings-outline"></ion-icon>
      App Settings
    </ion-title>
    <ion-item>
      <ion-label position="floating">API Address</ion-label>
      <ion-input
        type="text"
        (ngModel)="(apiAddress)"
        value="{{ apiAddress }}"
        (ionChange)="onChange($event)"
      ></ion-input>
    </ion-item>
    <ion-button
      (click)="saveDataToStorage()"
      class="ion-margin-top"
      expand="full"
      color="pounce"
      >Save</ion-button
    >
  </ion-grid>
</ion-content>
